@using Microsoft.AspNetCore.Identity
@using Ricetta.Data.Entities
@inject SignInManager<Member> SignInManager
@inject UserManager<Member> UserManager;
@{
    ViewData["Title"] = "Home Page";
    var member = await UserManager.FindByIdAsync(UserManager.GetUserId(this.User));
    var tagName = member?.Tagname;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<hello-world></hello-world>

@* <recipe-message></recipe-message> *@

@section Scripts {
    <script src="~/js/message.js"></script>
}
